<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1 class="pt-4">{{title}}</h1>
            {% if description %}<h6>{{description}}</h6>{% endif %}
            {% if tester %}<h6>执行人: {{tester}}</h6>{% endif %}
            <h6>概要: 总数: {{total}} 执行数: {{run_num}} 通过: {{pass_num}} 失败: {{fail_num}} 出错: {{error_num}} 跳过: {{skipped_num}}</h6>
            <h6 class="pb-2">开始时间: {{start_at}} </h6>
            <h6>结束时间: {{end_at}} </h6>
            <h6>耗时: {{duration}}s</h6>
            <h6>平台: {{ platform }} 操作系统 {{ system }} Python版本: {{ python_version }}</h6>
        </div>
        <div id="chart" class="col-md-5" style="width:100%;height:350px;">
            <script type="text/javascript">
            var dom = document.getElementById("chart");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;

            app.config = {
                verticalAlign: 'middle',
                position: 'top',
                distance: 15,
            };


            var labelOption = {
                show: false,
                position: app.config.position,
                distance: app.config.distance,
                verticalAlign: app.config.verticalAlign,
                formatter: '{c}',
                fontSize: 12,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            };

            option = {
                color: ['#28a745', '#dc3545', '#ffc107', '#6c757d'],
                legend: {
                    data: ['通过', '失败', '出错', '跳过']
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        axisTick: {show: false},
                        data: {{cache.title}}
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '通过',
                        type: 'bar',
                        stack: '总数',
                        barGap: 0,
                        label: labelOption,
                        data: {{cache.pass}}
                    },
                    {
                        name: '失败',
                        type: 'bar',
                        stack: '总数',
                        label: labelOption,
                        data:  {{cache.fail}}
                    },
                    {
                        name: '出错',
                        type: 'bar',
                        stack: '总数',
                        label: labelOption,
                        data:  {{cache.error}}
                    },
                    {
                        name: '跳过',
                        type: 'bar',
                        stack: '总数',
                        label: labelOption,
                        data:  {{cache.skipped}}
                    },
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        </script>
        </div>
        <div class="col-md-3">
            <div id="chart2" style="width: 400px;height:400px;"></div>
            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('chart2'));
                myChart.setOption({
                    series : [
                        {
                            name: '执行统计',
                            type: 'pie',    // 设置图表类型为饼图
                            radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                            color: ['#28a745', '#dc3545', '#ffc107', '#6c757d'],
                            data:[          // 数据数组，name 为数据项名称，value 为数据项值
                                {value:{{pass_num}}, name:'通过'},
                                {value:{{fail_num}} , name:'失败'},
                                {value:{{error_num}} , name:'出错'},
                                {value:{{skipped_num}}, name:'跳过'},
                            ]
                        }
                    ]
                })
            </script>
        </div>
    <table class="table table-sm table-striped table-hover table-bordered">
        <thead class="thead-light"><tr><th>序号</th><th>用例</th><th>总数</th><th>通过</th><th>失败</th><th>出错</th><th>耗时</th><th>操作</th></tr></thead>
        <tbody>
        {% for test_class in test_classes %}
            <tr>
                <td colspan="2">{{test_class.name}}</td>
                <td>{{test_class.total}}</td>
                <td>{{test_class.pass_num}}</td>
                <td>{{test_class.fail_num}}</td>
                <td>{{test_class.error_num}}</td>
                <td>{{test_class.duration}}</td>
                <td></td>
            </tr>
            {% for test in test_class.test_cases %}
                <tr class="ml-md-3
                {% if test.status in ['PASS', 'XFAIL'] %}table-success
                {% elif test.status in ['FAIL', 'XPASS'] %}table-danger
                {% elif test.status=='ERROR' %}table-warning
                {% else %}table-secondary
                {% endif %}">
                    <td>{{test.sn}}</td><td>{{test.name}}: &nbsp;{{ test.desc }}
                    {%if test.tags %}{% for tag in test.tags %}<span class="badge badge-light ml-1">{{tag}}</span>{% endfor %}{% endif %}
                    {%if test.level %}<span class="badge badge-info badge-pill ml-1">Level:{{test.level}}</span>{% endif %}
                    </td>
                    <td colspan="4">{{test.status}}</td>
                    <td>{{test.duration}}</td>
                    <td><a href="#case_{{ test.sn }}" data-toggle="collapse">详情</a></td>
                </tr>
                <tr id=case_{{ test.sn }} class="collapse bg-white">
                    <td colspan="8">
                        <span class="badge badge-secondary">开始/结束/耗时</span> {{ test.start_at }} / {{ test.end_at }} / {{ test.duration }} <br/>
                        <span class="badge badge-secondary">代码</span> <pre class="bg-light"><code>{{ test.code}}</code></pre>
                        {% if test.output %}<span class="badge badge-secondary">输出: </span><pre class="bg-light">{{test.output}}</pre>{% endif %}
                        {% if test.exec_info %}<span class="badge badge-secondary">报错信息:</span><pre class="bg-light">{{test.exec_info}}</pre>{% endif %}
                        {% if test.images %}{% for image in test.images %}
                        <span class="badge badge-secondary">图片</span><br/>
                        <div><img src="{{ image }}"></img></div>{% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>